/*背景图片*/
body{   
background-image: url(background2.jpeg);
background-size:cover;

}
/*登录界面背景*/
#login_box{
    background-color: rgba(246, 247, 249, 0.388);
    
    text-align: center; /*内容居中*/
    margin: 0px auto;/* 外边框左右居中*/
    margin-top: 240px;
    width: 380px;
    height: 300px;
}
#change_the_password{
    background-color: rgba(246, 247, 249, 0.388);
    text-align: center; /*内容居中*/
    margin: 0px auto;/* 外边框左右居中*/
    margin-top: 240px;
    width: 400px;
    height: 320px;
}
/*标题*/
#login_box h2{
    padding-top: 60px;
    color:black;
}
/*表单*/
.myform{
    padding-top:15px;
}
/*账号框*/
.myform #te{
    background: none;/*取消背景*/
    border: none;/*消除内边框*/
    border-bottom: 2px solid black;
    outline: none;/*获取焦点时的边框*/
}
/*密码框*/
.myform #pass{
    margin-top: 10px;
    background: none;/*取消背景*/
    border: none;/*消除内边框*/
    border-bottom: 2px solid black;
    outline: none;/*获取焦点时的边框*/
}
/*按钮*/
#login_button{
    margin-top:30px;
}
/*登录按钮*/
#login_button #log{
    width: 130px;
    height: 30px;
    margin-left: 30px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    color: azure;
    border: none;/*消除内边框*/
    border-radius: 13px;
}
/*鼠标悬停样式*/
#login_button #log:hover{
    cursor: pointer;
}
/*注册按钮*/
#login_button #register{
    margin-top: 30px;
    background: none;
    padding-left: 300px;
    text-decoration: none;/*去除下划线*/
    color: black;
}
#login_button #register:hover{
    cursor: pointer;
}
.select_body{
    background-color:rgb(204, 224, 243);
    width: 175px;
    text-align: center;
    margin-top:20px;
}