 /* 用户类型标题 */
 #authority{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
/* 会议室标题 */
#name{
    text-align: center
}
/* 用户名称菜单 */
 #user_menu{
    margin-top: 20px;
    text-align: center
}
/* 顶部区域大小 */
.head{
    height: 100px;
    background-color: rgb(92, 179, 204);
}

/* 侧边导航栏 */
#nav{
  background-color: rgb(208, 223, 230);
  height: 1000px;
  padding-top: 30px;
}
/* 导航栏链接按钮 */
/* #nav ul li{
    padding-bottom: 40px;
} */
/* 主界面显示画面 */
#mainFrame{
 padding: 0px;   
}

.li_body{
    position:relative;
    margin: 50px;
}

